$badge-border-radius: 30%;

#head_footer_code_settings {
    .wp-heading-inline {
        .ver {
            font-size: 0.8rem;
            line-height: 2rem;
        }
        .actions {
            display: inline;
        }
    }
    .form-table {
        .warn {
            color: #d63638;
            i {
                font-style: normal;
                &::before {
                    content: "⚠️ ";
                }
            }
        }
        div.description {
            p.notice {
                padding-block: 0.5em;
                margin: 0.25em 0;
            }
        }
    }
}

.fixed .column-hfc {
    width: 14%;
    .n-a {
        cursor: help;
        opacity: 0.5;
    }
    .badges {
        .badge {
            background: transparent;
            border: 1px solid #bfe7f3;
            display: inline-block;
            font-size: .6rem;
            font-weight: 600;
            height: 1.2rem;
            margin: .2rem 0 0 0;
            text-align: center;
            width: 1.2rem;
    
            &:hover {
                border-color: #007cba;
            }
        }
        :first-child {
            border-radius: $badge-border-radius 0 0 $badge-border-radius;
        }
        :last-child {
            border-radius: 0 $badge-border-radius $badge-border-radius 0;
        }
        :only-child {
            border-radius: $badge-border-radius;
        }
    }
}

// HFC Metabox
#auhfc-head-footer-code {
    .form-table {
        tr {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            th, td {
                padding: 0;
            }
        }
    }
    .CodeMirror {
        height: 150px;
    }
}
